.introGiaoxu
  .imgIntro
    img(src='https://gxphuhoa.org/wp-content/themes/maintheme/images/ban.jpg' alt='')
  .titleIntro Lược sử Giáo Xứ Phú Hòa
  .contentIntro
    .wrapper
      p.cap Cách nay hơn nửa thế kỷ, vào năm 1958, có 11 gia đình công giáo gốc địa phận Bắc Ninh đến xã Phú Thọ Hòa, quận Tân Bình sinh sống, và xin gia nhập giáo xứ Phú Bình. Một năm sau, với con số hơn 20 gia đình
      p Cách nay hơn nửa thế kỷ, vào năm 1958, có 11 gia đình công giáo gốc địa phận Bắc Ninh đến xã Phú Thọ Hòa, quận Tân Bình sinh sống, và xin gia nhập giáo xứ Phú Bình. Một năm sau, với con số hơn 20 gia đình, cha cố Tôma Phạm Ngọc Biểu – chánh xứ Phú Bình – cho lập họ đạo mới, lấy tên là Họ Phú Hòa.
      p Phú Hòa thật là vùng “đất lành chim đậu”, ngày càng có nhiều gia đình tựu về đây lập nghiệp. Năm 1971 giáo họ mua được lô đất diện tích hơn 300 mét vuông. Sau 4 tháng nỗ lực xây dựng, ngày 01-5-1973, Đức Tổng Giám mục PhaoLô Nguyễn Văn Bình và Đức cha Phụ tá Phanxicô Xaviê Trần Thanh Khâm dâng Thánh lễ khánh thành Nguyện đường Phú Hòa.
      p Phú Hòa có cộng đồng người Hoa sinh sống. Năm 1973 giáo họ Phú Hòa được linh mục Polvala Hòa (người Pháp), đến giúp mục vụ cho bổn đạo người Hoa. Ngài dâng thánh lễ bằng tiếng Hoa và tiếng Việt. Cộng đoàn Phú Hòa trở nên thật sinh động. Người Việt và Hoa đoàn kết yêu thương. Rất tiếc, đến năm 1975, vì tình hình chung, cha Polvala phải rời Phú Hòa.
      p Sau 15 năm xây dựng, nhà thờ đã xuống cấp, và được đại trùng tu. Ngày 27-9-1991, một bước ngoặt mới của Phú Hòa: Đức Tổng Giám mục Phaolô Nguyễn Văn Bình ký quyết định tách họ đạo Phú Hòa ra khỏi giáo xứ Phú Bình, nâng Phú Hòa lên thành Giáo xứ, tạm giao Phú Hòa cho cha Hạt trưởng Tân Sơn Nhì phụ trách đến khi có linh mục chánh xứ. Cha cố Đaminh Vũ Nguyên Thiều – Hạt trưởng Tân Sơn Nhì – kiêm nhiệm Phú Hòa không xuể. Vì thế, cha Giuse Đinh Quang Thịnh, cha Đaminh Trần Đức Công, cha Giuse Nguyễn văn Thanh được giao đặc trách giáo xứ Phú Hòa. Giáo xứ cũng được sự giúp đỡ tận tình của các Dì Dòng Mến Thánh Giá Tân Việt.
      p.img-left
        img(src='https://gxphuhoa.org/wp-content/themes/maintheme/images/cha-huy.png' alt='')
      p Ngày 04-10-2007, linh mục Antôn Mai Đức Huy được Đức Hồng Y Gioan Baotixita Phạm Minh Mẫn bổ nhiệm làm chánh xứ tiên khởi của giáo xứ Phú Hòa. Giáo xứ Phú Hòa được trở về lại giáo hạt Phú Thọ. Sau khi nhận giáo xứ, cha Antôn đã đi thăm tất cả các gia đình trong giáo xứ, xem xét các sinh hoạt của giáo dân, đưa các sinh hoạt mục vụ vào nền nếp. Cha cho bầu lại Hội đồng Mục vụ giáo xứ. Giáo xứ Phú Hòa hiện nay có 617 gia đình với 2.452 giáo dân, thuộc các phường Phú Trung, Hòa Thạnh, quận Tân Phú và phường 10, quận Tân Bình.
      p Hơn 50 năm hình thành và phát triển, Phú Hòa ngày một ổn định vững vàng trong tình yêu quan phòng của Chúa. Mọi người trong giáo xứ cũng ghi nhớ những công ơn lớn lao của các bậc tiền nhân đã hy sinh xây dựng giáo xứ, và biết bao đóng góp quảng đại của các ân nhân xa gần, cũng như của từng gia đình trong giáo xứ. Giáo dân Phú Hòa sẽ luôn phát huy những đóng góp quý báu ấy để củng cố đời sống của giáo xứ ngày càng lớn mạnh hơn.
      p Nhìn lại những chặng đường đã qua, cộng đoàn giáo xứ Phú Hòa có được như hôm nay chính là nhờ hồng ân bao la của Chúa. Xin hiệp lời hân hoan tạ ơn Chúa, vì: “Tất cả là hồng ân”.
      .clear
      p
        img(width='100%' src='https://gxphuhoa.org/wp-content/themes/maintheme/images/ban-tho.jpg' alt='')
      .thovan
        .row
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            p Đầu năm một chín bảy ba
            p Cuối năm Nhâm Tý tháng là mùa đông (12)
            p Viết qua sơ lược mấy dòng
            p Để làm kỷ niệm cho dòng hậu sinh
            p Mai sau nhớ đến công trình
            p Nhớ ơn cha Biểu Phú Bình có công
            p Tháng ngày bao quản long đong
            p Ngoài thì việc hạt bên trong xứ nhà
            p Công cha vất vả như là
            p Nguyện đường xây khắp nơi xa chốn gần
            p Vĩnh Hòa – Bình Thới – Nhân Hòa
            p Phú Hòa nhà nguyện năm bảy hai bắt đầu
            p Họ con ao ước đã lâu
            p Mua được miếng đất góp nhau thiếu tiền
            p Mua xong lại sợ đổ nền
            p Tiền đâu mua đất đổ nên bây giờ
            p Dịp may thật cũng bất ngờ
            p Có ông Lang Diệm cậy nhờ người ta
            p Anh ông Đại tá Cộng Hòa
            p Xin được đất đổ thật là cũng hên
            p Vì ông có đất đổ nền
            p Cha truyền mở sổ lạc quyên họ nhà
            p Cha Phước thừa lệnh cha già ( cha Biểu)
            p Cùng ban giáo họ Phú Hòa đi quyên
            p Xong về cộng sổ tính tiền
            p Được một số ít đệ lên cha già
            p Nguyện đường tốn phí bao la
            p Tiền thì ít ỏi thiệt là khổ tâm
            p Lạy Cha vạn lạy vân vân….
            p Xin Cha thương đến giáo dân Phú Hòa
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            p Trăm đường trông cậy cha già
            p Nhờ ơn đức độ tài ba của người
            p Ngoại giao vay mượn khắp nơi
            p Một tiếng cha nói vạn lời chúng con
            p Nguyện xin cho được vuông tròn
            p Chúa ban ơn xuống cha con an nhàn
            p Nhà thì cha cất ba gian
            p Bề ngang tám thước mười năm chiều dài
            p Miếng đất thuộc đạo Cao Đài
            p Bỗng đâu trắc trở ai ai bực mình
            p Cảm ơn ông Ất ông Trình
            p Vốn lòng đạo đức nhiệt tình việc chung
            p Xuất tiền trả đất cho xong
            p Còn việc đôn đốc giao hai ông Lý già
            p Ông Hảo ông Hợi họ ta
            p Chăm nom đôn đốc thật là tới nơi
            p Kèo trên nóc đã đặt rồi
            p Bõ công mong đợi đứng ngồi bấy nay
            p Cảm ơn ông Cách tốt thay
            p Công đức cho Họ luôn ngay nếp nhà
            p Cha thì hoạch định bao la
            p Bác ái xã hội người là nghĩ ngay
            p Muốn đặt phòng thuốc ở đây
            p Địa thế chật hẹp liệu ngay bây giờ
            p Liền mua miếng đất ông Tơ
            p Bàn đi tính lại phải co ông Trình
            p Hai ông nghĩ cũng vì tình
            p Vì dân vì Họ vì mình và cha
            p Thế là việc đất thông qua
            p Còn tôn để lợp mái nhà thì sao?
            p Việc này thiệt khó biết bao
            p Tiền cha cũng hết biết đào đâu ra
            p Bèn đi hỏi mượn người ta
            p Cũng không kết quả thật là khổ tâm
          .col-lg-4.col-md-4.col-sm-12.col-xs-12
            p Cuối cùng chạy mượn xa gần
            p Được trăm hai chục mua tôn lợp nhà
            p Cảm ơn các quý ông bà
            p Vì tấm lòng tốt mà đã có mái nhà hôm nay
            p Năm tàn tháng lại tiếp đầy
            p Nhà làm giang dở việc này chưa yên
            p Cha truyền ăn tết qua niên
            p Đầu năm Quý Sửu tháng giêng xuất hành
            p Phân công chia toán rành rành
            p Đi quyên các Họ ở quanh xứ nhà
            p Sau rồi đến các nơi xa
            p Cầu mong quý vị trẻ già hảo tâm
            p Cảm ơn quý vị có lòng
            p Giúp tiền giúp bạc giúp công làm nhà
            p Dân Họ cảm tạ cha già
            p Ban cho chuông pháp để mà kính keng
            p Ban chuông cha lại ban tiền
            p Ban cái cổng sắt ban thêm tinh thần
            p Ban lời nhắn nhủ ân cần
            p Vững vàng cậy mến thêm phần kính tin
            p Ban lời chúc sự bình yên
            p Hồn an xác mạnh bạc tiền theo sau
            p Họ con vâng lãnh cúi đầu
            p Cảm ơn cha xứ đã giàu tình thương
            p Tạo nên nhà giáo nhà trường
            p Cái phòng phát thuốc chờ tiền rồi ra
            p Thành lập hội Thánh Anna
            p Thêm phần sốt sắng các bà hăng say
            p Công cha lo lắng đêm ngày
            p Cầu xin cho được ngày rầy bình yên
            p Nhà còn thiếu thốn mọi đàng
            p Sơn tường, cánh cửa, trang hoàng chưa xong
            p Ghế bàn còn thiếu lung tung
            p Kính mong quý vị thương tình họ tôi
            p Giúp cho nhà được mau rồi
            p Để cho giáo hữu có nơi nguyện cầu
            p Dân họ đoàn tụ cùng nhau
            p Đọc kinh, nguyện ngắm, viếng chầu hôm mai
            p Nôm na góp nhặt mấy lời
            p Ai chê cũng kệ ai cười mặc ai.
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .text-right
              strong Cụ Trần Văn Thận
      p
        img(width='100%' src='https://gxphuhoa.org/wp-content/themes/maintheme/images/nha-tho.jpg' alt='')