extends _layout/_layout

block main-content
  .row
    .col-12.col-lg-9
      .newsCategory
        .title Khu Giáo II Thánh Giuse
        .grid
          .col1
            +newsInner({
              img: 'http://localhost/gxphuhoa/wp-content/uploads/2014/12/Thanh-gia-508x352.jpg',
              title: 'THÁNH LỄ KÍNH THÁNH GIUSE : MỪNG BỔN MẠNG GIÁO KHU II',
              date: '06:02 19/03/2021',
              link: '#'
            })
          .col2
            .grid 
              .col3
                +news({
                  img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/03/Le-thanh-Giuse-BM-Kg2-529x352.jpeg',
                  title: 'LỄ KÍNH THÁNH GIUSE BỔN MẠNG GIÁO KHU II',
                  date: '17:24 09/05/2021',
                  link: '#',
                })
              .col3
                +news({
                  img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/03/Thanh-Giuse-Copy.jpg',
                  title: 'THÔNG BÁO: THÁNH LỄ KÍNH THÁNH GIUSE BỔN MẠNG GIÁO KHU 2',
                  date: '17:24 09/05/2021',
                  link: '#',
                })
              .col3
                +news({
                  img: 'http://localhost/gxphuhoa/wp-content/uploads/2019/11/KG2-hanh-huong-2019-570x321.jpeg',
                  title: 'Giáo Khu Thánh Giuse: Hành Hương Đức Mẹ Bãi Dâu',
                  date: '17:24 09/05/2021',
                  link: '#',
                })
              .col3
                +news({
                  img: 'http://localhost/gxphuhoa/wp-content/uploads/2019/04/DSC05393-526x352.jpg',
                  title: 'Giáo Khu II – Thánh Giuse',
                  date: '17:24 09/05/2021',
                  link: '#',
                })
      .listNewsCategory
        +newsList([
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
            title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
            title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
            title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
            title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2017/05/logo-tntt-phu-hoa-359x352.jpg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
            date: '17:24 09/05/2021',
            link: '#',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
            title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
          {
            img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            des: 'Trong tâm tình cảm tạ hồng ân Chúa, hòa chung với bầu khí Giáo hội hân hoan mừng kính trọng thể Thánh Giuse bạn trăm năm Đức Maria.',
            isImgLeft: true,
          },
        ])
      .moreNewsCategory
        +link('#', 'Load more')(data-page="30", data-cate="48")
          span Xem thêm...
    .col-12.col-lg-3
      include ./_components/_sidebar.pug