extends _layout/_layout

block main-content
  .the-fathers(data-fathers)
    .the-fathers__heading
      .the-fathers__title
        h1 Danh sách linh mục
        span Hình ảnh, tên và dòng tu (hoặc chủng viện) của các linh mục đã từng và đang giúp tại giáo xứ Phú Hòa, xin mọi người một lời cầu nguyện cho các ngày mạnh giỏi, đầy tràn hồng ân để luôn kiên trì trong việc Chúa.
      .the-fathers__search
        .the-fathers__search-input
          input(type="text" name="fatherName" placeholder="Nhập tên bạn muốn tìm..." data-fathers-input)
    .the-fathers__list
      .the-fathers__item(data-fathers-item data-keywork="Antôn Hoàng Tiến Diễn")
        .the-fathers__image
          +img("https://giaophanhatinh.net/wp-content/uploads/2023/10/Anton-Hoang-Tien-Dien-e1697961726150-404x600.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Antôn Hoàng Tiến Diễn
          .the-fathers__place Giáo phận Hà Tĩnh
      .the-fathers__item(data-fathers-item data-keywork="Giuse Trần Quốc Ân")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/3g-NZlV3xvSNriQXrjwIn_MEI-Ab1HnEoqRFdz-cecpZjkfB5jwy8caGDtWD64V29ZpbX4xyoo8H_rOgTo7sKXzNgmPPUSYq9Ex-3faveMfusKI66YdiPI0VT2pdbwQWmrOq0G0NxZ-JLDc2ArDn4KPT-CrFxGCPjVCXSPEivJe-1D20Te7KHWctq5oFE3h_LC_OWLEDyBJt0KvXTCNXDz7mP8Y33tzZWDNTfdOCno39SUDjqqBIqW7edX3418af4p6I4ORfVEei3CMaifE4q3zpPAwyoZWVaGal1yCL3xNH8GWYjCy0I1Ydun_oCCg6ysTyq053CT1RLo5HxZ1wkNJAPkqgoldCHzAWl7pNP4WI3c9Ei1UTbAPrs2Z3wF9FkCNwpP2OqAs2xqoq93X0WV3_Wf3KQp5GhHhi4M3P_1PjfiuU5ZVHojsd4-sfCcj58epHk-EOG1Gg1U1LLibpeN9MBhfVGvO7O85Nn8GhyYpLgIUYo4EmCKeRz5gHtELicapQ221e2KLmBN1zKduqV0hbvqIFJ2yEoImcqeI0bGvWccdem2pe6ud179tjJHhIihWU1FcupPpfJJDdoRuMk4khPWpPlEhV4iNAmdHHcAN9zpbGQ3RYoLZo-uLcX19aUmtDrvjrwj_K49glCd4PqSnvpgEw9u6ggiHiK8FdeuEPWHaG08KOkmxvYnrhn7PylG-C0f1KkWDzYp4pfVqKACDkfw=w440-h657-no?authuser=0", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Trần Quốc Ân
          .the-fathers__place Giáo phận Xuân Lộc
      .the-fathers__item(data-fathers-item data-keywork="GIUSE TRẦN NGỌC THANH")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/proxy/OeVMr3Vu_6ApfyeXeaMPsTbrd2oKfaU7DscJBd0Bi9hQefq4YIREdQbrFOWB248yb47ZA_aDevhPFOaAPAsmD6LLZKQ237PqlUOhi7TWT89aI9HSW9Uo65knrIi4EgafrCEJpEtXbwfoTP4g7lDNP9tfwGKB", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name GIUSE TRẦN NGỌC THANH
          .the-fathers__place Dòng Đa Minh
      .the-fathers__item(data-fathers-item data-keywork="Giuse Maria Tạ Huy Hoàng")
        .the-fathers__image
          +img("https://kyluc.vn/Userfiles/Upload/images/Hoi-ngo-ky-luc-gia-viet-nam-lan-thu%2041_04.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Maria Tạ Huy Hoàng
          .the-fathers__place Dòng Chúa Cứu Thế
      .the-fathers__item(data-fathers-item data-keywork="Phêrô Nguyễn Văn Khảm")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/proxy/bsNU5PekZGuKX4f1o_wEek9D_zsubfXMOMy78XX6Wd749-grCRDYYptox1KHNQMGQwsxKI2KToOXmTr2zqJJ3gMEHL35ZS1ofCVj8EvL5lu58s_0fnlHQBRtDdEIMA", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Phêrô Nguyễn Văn Khảm
          .the-fathers__place Đại chủng viện Thánh Giuse
      .the-fathers__item(data-fathers-item data-keywork="Giuse Nguyễn Phát Tài")
        .the-fathers__image
          +img("https://i.imgur.com/mn5YRA6.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Nguyễn Phát Tài
          .the-fathers__place Đại chủng viện Thánh Giuse
      .the-fathers__item(data-fathers-item data-keywork="Antôn Hoàng Tiến Diễn")
        .the-fathers__image
          +img("https://giaophanhatinh.net/wp-content/uploads/2023/10/Anton-Hoang-Tien-Dien-e1697961726150-404x600.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Antôn Hoàng Tiến Diễn
          .the-fathers__place Giáo phận Hà Tĩnh
      .the-fathers__item(data-fathers-item data-keywork="Giuse Trần Quốc Ân")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/3g-NZlV3xvSNriQXrjwIn_MEI-Ab1HnEoqRFdz-cecpZjkfB5jwy8caGDtWD64V29ZpbX4xyoo8H_rOgTo7sKXzNgmPPUSYq9Ex-3faveMfusKI66YdiPI0VT2pdbwQWmrOq0G0NxZ-JLDc2ArDn4KPT-CrFxGCPjVCXSPEivJe-1D20Te7KHWctq5oFE3h_LC_OWLEDyBJt0KvXTCNXDz7mP8Y33tzZWDNTfdOCno39SUDjqqBIqW7edX3418af4p6I4ORfVEei3CMaifE4q3zpPAwyoZWVaGal1yCL3xNH8GWYjCy0I1Ydun_oCCg6ysTyq053CT1RLo5HxZ1wkNJAPkqgoldCHzAWl7pNP4WI3c9Ei1UTbAPrs2Z3wF9FkCNwpP2OqAs2xqoq93X0WV3_Wf3KQp5GhHhi4M3P_1PjfiuU5ZVHojsd4-sfCcj58epHk-EOG1Gg1U1LLibpeN9MBhfVGvO7O85Nn8GhyYpLgIUYo4EmCKeRz5gHtELicapQ221e2KLmBN1zKduqV0hbvqIFJ2yEoImcqeI0bGvWccdem2pe6ud179tjJHhIihWU1FcupPpfJJDdoRuMk4khPWpPlEhV4iNAmdHHcAN9zpbGQ3RYoLZo-uLcX19aUmtDrvjrwj_K49glCd4PqSnvpgEw9u6ggiHiK8FdeuEPWHaG08KOkmxvYnrhn7PylG-C0f1KkWDzYp4pfVqKACDkfw=w440-h657-no?authuser=0", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Trần Quốc Ân
          .the-fathers__place Giáo phận Xuân Lộc
      .the-fathers__item(data-fathers-item data-keywork="GIUSE TRẦN NGỌC THANH")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/proxy/OeVMr3Vu_6ApfyeXeaMPsTbrd2oKfaU7DscJBd0Bi9hQefq4YIREdQbrFOWB248yb47ZA_aDevhPFOaAPAsmD6LLZKQ237PqlUOhi7TWT89aI9HSW9Uo65knrIi4EgafrCEJpEtXbwfoTP4g7lDNP9tfwGKB", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name GIUSE TRẦN NGỌC THANH
          .the-fathers__place Dòng Đa Minh
      .the-fathers__item(data-fathers-item data-keywork="Giuse Maria Tạ Huy Hoàng")
        .the-fathers__image
          +img("https://kyluc.vn/Userfiles/Upload/images/Hoi-ngo-ky-luc-gia-viet-nam-lan-thu%2041_04.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Maria Tạ Huy Hoàng
          .the-fathers__place Dòng Chúa Cứu Thế
      .the-fathers__item(data-fathers-item data-keywork="Phêrô Nguyễn Văn Khảm")
        .the-fathers__image
          +img("https://lh3.googleusercontent.com/proxy/bsNU5PekZGuKX4f1o_wEek9D_zsubfXMOMy78XX6Wd749-grCRDYYptox1KHNQMGQwsxKI2KToOXmTr2zqJJ3gMEHL35ZS1ofCVj8EvL5lu58s_0fnlHQBRtDdEIMA", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Phêrô Nguyễn Văn Khảm
          .the-fathers__place Đại chủng viện Thánh Giuse
      .the-fathers__item(data-fathers-item data-keywork="Giuse Nguyễn Phát Tài")
        .the-fathers__image
          +img("https://i.imgur.com/mn5YRA6.jpg", "Linh mục 1")
        .the-fathers__info
          .the-fathers__name Giuse Nguyễn Phát Tài
          .the-fathers__place Đại chủng viện Thánh Giuse
    .the-fathers__no-result.d-none(data-fathers-no-result)
      .the-fathers__no-result-text-1 Không tìm thấy dữ liệu so khớp
      .the-fathers__no-result-text-2 Có thể bạn đã tìm sai thông tin hoặc hệ thống chưa có thông tin về linh mục này, liên hệ admin để biết thêm chi tiết