extends _layout/_layout

block main-content
  div Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quidem ratione modi dicta sapiente quis quo qui maxime eius. Beatae rerum repellendus illo quod sit labore accusamus ipsam corporis! Dolores.
    