extends _layout/_layout

block main-content
  .topHome
    .grid
      .col
        +newsInner({
          img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/thu-bay-tuan-6-PS_B-570x336.jpg',
          cat: 'SUY NIỆM',
          title: 'Thứ Bảy Tuần VI Phục Sinh : Ân Sủng Và Sự Thật',
          link: '#'
        })
      .col
        +newsInner({
          img: 'https://gxphuhoa.org/wp-content/uploads/2020/08/cau-nguyen-voi-phuc-am-2-469x352.jpg',
          cat: 'SUY NIỆM',
          title: 'CẦU NGUYỆN VỚI PHÚC ÂM – THỨ BẢY TUẦN 6 PHỤC SINH B',
          link: '#'
        })
      .col
        +newsInner({
          img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/thu-sau-tuan-6-PS-B-570x323.jpg',
          cat: 'SUY NIỆM',
          title: 'Thứ Sáu Tuần VI Phục Sinh : MÁTTHIA ƠN GỌI ĐẶC BIỆT',
          link: '#',
          isV2: true
        })
        +newsInner({
          img: 'https://gxphuhoa.org/wp-content/uploads/2020/08/CAU-NGUYEN-VOI-PHUC-AM-1-2-528x352.jpg',
          cat: 'SUY NIỆM',
          title: 'CẦU NGUYỆN VỚI PHÚC ÂM – THỨ SÁU  TUẦN 6 PHỤC SINH B',
          link: '#',
          isV2: true
        })
  .audioHome
    +audioHome([
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/Chua-nhat-tuan-6-PS-B-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/Chua-nhat-tuan-6PS-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ SÁNG',
        date: '17:04 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
        title: '[AUDIO THÁNH LỄ] MỪNG LỄ THÁNH ĐAMINH SAVIÔ BỔN MẠNG BAN LỄ SINH',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/chua-nhat-tuan-5-PS-B-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT TUẦN V PS-B : THẦY LÀ CÂY NHO',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/THANH-GIUSE-THO-01-05-570x321.jpg',
        title: '[AUDIO THÁNH LỄ] MỪNG KÍNH THÁNH GIUSE THỢ BỔN MẠNG GX.PHÚ HÒA VÀ HĐMV NĂM B',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/Chua-nhat-tuan-6-PS-B-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/Chua-nhat-tuan-6PS-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ SÁNG',
        date: '17:04 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
        title: '[AUDIO THÁNH LỄ] MỪNG LỄ THÁNH ĐAMINH SAVIÔ BỔN MẠNG BAN LỄ SINH',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/chua-nhat-tuan-5-PS-B-469x352.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT TUẦN V PS-B : THẦY LÀ CÂY NHO',
        date: '17:24 09/05/2021',
        link: '#',
      },
      {
        img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/THANH-GIUSE-THO-01-05-570x321.jpg',
        title: '[AUDIO THÁNH LỄ] MỪNG KÍNH THÁNH GIUSE THỢ BỔN MẠNG GX.PHÚ HÒA VÀ HĐMV NĂM B',
        date: '17:24 09/05/2021',
        link: '#',
      },
    ])
  .slideVideoHome
    .slideVideoHome-head
      h2.slideVideoHome-head-text Dạy & Học Kinh Thánh - Tổng Giáo phận Sài Gòn
      span dùng chuột nhấn giữ và kéo sang trái (hoặc ngón tay khi dùng trên điện thoại vuốt qua trái) để xem thêm video cũ hơn
    .slideVideoHome-slide(data-slide-video-home)
      +slidevideoHome([
        {
          id: 'uROAjeGPpf4',
          image: 'https://i.ytimg.com/vi/uROAjeGPpf4/sddefault_live.jpg',
          title: '📖 Phần 3: CÁC SÁCH LỊCH SỬ (tt) | Thánh Kinh Tổng quát - Lm Ignatio Hồ Văn Xuân',
          duration: 'SẮP DIỄN RA',
          live: true,
        },
        {
          id: 'iQxDpYNSlOE',
          image: 'https://i.ytimg.com/vi/iQxDpYNSlOE/sddefault_live.jpg',
          title: '📖DẠY VÀ HỌC KINH THÁNH trực tuyến - Lm TĐD Ignatio Hồ Văn Xuân | 19:30 thứ Hai 8-1-2024',
          duration: 'PT1H35M6S',
        },
        {
          id: 'uROAjeGPpf4',
          image: 'https://i.ytimg.com/vi/uROAjeGPpf4/sddefault_live.jpg',
          title: '📖 Phần 3: CÁC SÁCH LỊCH SỬ (tt) | Thánh Kinh Tổng quát - Lm Ignatio Hồ Văn Xuân',
          duration: 'sắp diễn ra',
        },
        {
          id: 'uROAjeGPpf4',
          image: 'https://i.ytimg.com/vi/uROAjeGPpf4/sddefault_live.jpg',
          title: '📖 Phần 3: CÁC SÁCH LỊCH SỬ (tt) | Thánh Kinh Tổng quát - Lm Ignatio Hồ Văn Xuân',
          duration: 'sắp diễn ra',
        },
        {
          id: 'uROAjeGPpf4',
          image: 'https://i.ytimg.com/vi/uROAjeGPpf4/sddefault_live.jpg',
          title: '📖 Phần 3: CÁC SÁCH LỊCH SỬ (tt) | Thánh Kinh Tổng quát - Lm Ignatio Hồ Văn Xuân',
          duration: 'sắp diễn ra',
        },
      ])
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-lg-4
          .newsFocusHome
            +newsList([
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
                title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
                date: '17:24 09/05/2021',
                link: '#',
                cat: 'Tin Giáo Xứ'
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
                title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2017/05/logo-tntt-phu-hoa-359x352.jpg',
                title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/BMGx-va-Hdmv-Phu-Hoa-01-05-2021-14-570x320.jpg',
                title: 'VIDEO: Thánh Lễ Kính Giuse Bổn mạng Giáo xứ và HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/DSC04962-570x320.jpg',
                title: 'Lễ kính Thánh Giuse Thợ Bổn mạng Giáo xứ & HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
            ])
        .col-12.col-lg-4
          .newsFocusHome
            +newsList([
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
                title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
                date: '17:24 09/05/2021',
                link: '#',
                cat: 'Tin Giáo Xứ'
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
                title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2017/05/logo-tntt-phu-hoa-359x352.jpg',
                title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/BMGx-va-Hdmv-Phu-Hoa-01-05-2021-14-570x320.jpg',
                title: 'VIDEO: Thánh Lễ Kính Giuse Bổn mạng Giáo xứ và HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/DSC04962-570x320.jpg',
                title: 'Lễ kính Thánh Giuse Thợ Bổn mạng Giáo xứ & HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
            ])
        .col-12.col-lg-4
          .newsFocusHome
            +newsList([
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
                title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
                date: '17:24 09/05/2021',
                link: '#',
                cat: 'Tin Giáo Xứ'
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
                title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2017/05/logo-tntt-phu-hoa-359x352.jpg',
                title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/BMGx-va-Hdmv-Phu-Hoa-01-05-2021-14-570x320.jpg',
                title: 'VIDEO: Thánh Lễ Kính Giuse Bổn mạng Giáo xứ và HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
              {
                img: 'https://gxphuhoa.org/wp-content/uploads/2021/05/DSC04962-570x320.jpg',
                title: 'Lễ kính Thánh Giuse Thợ Bổn mạng Giáo xứ & HĐMV',
                date: '17:24 09/05/2021',
                link: '#',
                isImgLeft: true,
              },
            ])
      +boxNewsHome({
        title: 'Hội Đồng Mục Vụ',
        icon: 'fa-newspaper',
        newsFocus: {
          img: 'https://gxphuhoa.org/wp-content/uploads/2014/12/Thanh-gia-508x352.jpg',
          title: 'THÁNH LỄ KÍNH THÁNH GIUSE : MỪNG BỔN MẠNG GIÁO KHU II',
          date: '17:24 09/05/2021',
          link: '#',
          cat: 'Khu Giáo II Thánh Giuse',
          des: 'Kính mời quý cộng đoàn dân Chúa tham dự thánh lễ tạ ơn. Lúc 17g30 thứ Sáu ngày 19-03-2021'
        },
        newsList: [
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao V Thánh Phaolô Tông Đồ',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
            title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
        ]
      })
      +boxNewsHome({
        title: 'Hội Đồng Mục Vụ',
        icon: 'fa-newspaper',
        newsFocus: {
          img: 'https://gxphuhoa.org/wp-content/uploads/2014/12/Thanh-gia-508x352.jpg',
          title: 'THÁNH LỄ KÍNH THÁNH GIUSE : MỪNG BỔN MẠNG GIÁO KHU II',
          date: '17:24 09/05/2021',
          link: '#',
          cat: 'Khu Giáo II Thánh Giuse',
          des: 'Kính mời quý cộng đoàn dân Chúa tham dự thánh lễ tạ ơn. Lúc 17g30 thứ Sáu ngày 19-03-2021'
        },
        newsList: [
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao V Thánh Phaolô Tông Đồ',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
            title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
        ]
      })
      +boxNewsHome({
        title: 'Hội Đồng Mục Vụ',
        icon: 'fa-newspaper',
        newsFocus: {
          img: 'https://gxphuhoa.org/wp-content/uploads/2014/12/Thanh-gia-508x352.jpg',
          title: 'THÁNH LỄ KÍNH THÁNH GIUSE : MỪNG BỔN MẠNG GIÁO KHU II',
          date: '17:24 09/05/2021',
          link: '#',
          cat: 'Khu Giáo II Thánh Giuse',
          des: 'Kính mời quý cộng đoàn dân Chúa tham dự thánh lễ tạ ơn. Lúc 17g30 thứ Sáu ngày 19-03-2021'
        },
        newsList: [
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao V Thánh Phaolô Tông Đồ',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
            title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
        ]
      })
      +boxNewsHome({
        title: 'Hội Đồng Mục Vụ',
        icon: 'fa-newspaper',
        newsFocus: {
          img: 'https://gxphuhoa.org/wp-content/uploads/2014/12/Thanh-gia-508x352.jpg',
          title: 'THÁNH LỄ KÍNH THÁNH GIUSE : MỪNG BỔN MẠNG GIÁO KHU II',
          date: '17:24 09/05/2021',
          link: '#',
          cat: 'Khu Giáo II Thánh Giuse',
          des: 'Kính mời quý cộng đoàn dân Chúa tham dự thánh lễ tạ ơn. Lúc 17g30 thứ Sáu ngày 19-03-2021'
        },
        newsList: [
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao V Thánh Phaolô Tông Đồ',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
            title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
            title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giáo IV Đức Mẹ Vô Nhiễm',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
          {
            img: 'https://gxphuhoa.org/wp-content/uploads/2018/12/Thanh-Phanxicoxavie-570x321.jpg',
            title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
            date: '17:24 09/05/2021',
            link: '#',
            cat: 'Khu Giao VI Thánh Phanxicô Xavie',
            isImgLeft: true,
          },
        ]
      })
      .faqHome
        .title Hỏi đáp
        .grid
          +listFaq([
            {
              title: 'Ý nghĩa và ơn ích của Thánh Lễ Misa',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Điều kiện lãnh nhận Ơn Toàn Xá?',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Những giá trị gia đình thời nay bị đảo lộn!',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Một số vấn đề cần lưu ý liên quan đến Phụng vụ Thánh lễ',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Nghi thức thống hối trong lễ Phục Sinh được thực hiện ra sao?',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'TẠI SAO CẦN XIN THÁNH LỄ CẦU CHO CÁC LINH HỒN ?',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Các điều kiện lãnh Ơn Toàn Xá trong tháng 11 được điều chỉnh',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Tìm hiểu Ơn Toàn Xá trong mùa đại dịch Covid -19',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Có buộc xưng tội trong mùa Chay không?',
              date: '17:24 09/05/2021',
              link: '#',
            },
            {
              title: 'Có buộc xưng tội trong mùa Chay không?',
              date: '17:24 09/05/2021',
              link: '#',
            },
          ])
    .col-12.col-lg-3
      include ./_components/_sidebar.pug