#headTop(data-head-top)
  .wrapper
    .menuNav
      +list([
        {
          title: 'Trang chủ',
          href: '#',
        },
        {
          title: 'Giới thiệu',
          href: '/about.html',
          cls: 'iAbout fancybox.ajax'
        },
        {
          title: 'Linh mục',
          href: '/fathers.html',
        },
        {
          title: 'Liên hệ',
          href: '#',
        },
      ])