#headTop
  .wrapper
    .menuNav
      +list([
        {
          title: 'Trang chủ',
          href: '#',
        },
        {
          title: 'Giới thiệu',
          href: '#',
          cls: 'iAbout fancybox.ajax'
        },
        {
          title: 'Lưu trữ',
          href: '#',
        },
        {
          title: 'Liên hệ',
          href: '#',
        },
      ])