.loading-bg(data-loading)
  .loadingio-spinner-spin-jrpb44twqj
    .ldio-fvykqwmeirb
      div
        div
      div
        div
      div
        div
      div
        div
      div
        div
      div
        div
      div
        div
      div
        div