.menuMobile(data-menu-mobile)
  .divmm
    .mmContent
      .mmMenu
        +list([
          {
            title: 'Thông tin',
            href: "#",
            sub: [
              { title: 'Tài liệu tham khảo', href: "#", },
              { title: 'Tin Giáo Hội Hoàn Vũ', href: "#", },
              { title: 'Tin Giáo Hội Việt Nam', href: "#", },
              { title: 'Tin Giáo Xứ', href: "#", }
            ]
          },
          {
            title: 'Hội đồng mục vụ',
            href: "#",
            sub: [
              { title: 'Khu Giáo I Thánh Phêrô', href: "#", },
              { title: 'Khu Giáo II Thánh Giuse', href: "#", },
              { title: 'Khu Giáo III Thánh Martinô', href: "#", },
            ]
          },
          {
            title: 'Các hội đoàn',
            href: "#",
            sub: [
              { title: 'Ban Caritas Phú Hòa', href: "#", },
              { title: 'Ban Kẻ Liệt', href: "#", },
              { title: 'Ban Lễ Sinh', href: "#", },
            ]
          },
        ])
      .close-mmenu
        i.fa.fa-times
    .divmmbg