.boxSidebar
  .title.fa-share-alt Chia sẻ
  .content
    +dsShare()
.boxSidebar
  .title.fa-newspaper-o Bài viết cũ hơn
  .content
    +newsList([
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
        title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/11/Chau-Thanh-The-20-mau-Copy-2.jpg',
        title: '[AUDIO THÁNH LỄ] CHÚA NHẬT VI PS-B CHỦ ĐỀ HÃY YÊU THƯƠNG NHAU THÁNH LỄ THIẾU NHI',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/05/Thanh-Daminh-Savio.jpg',
        title: 'THÔNG BÁO: Thánh lễ kính Thánh Đaminh Savio bổn mạng Ban Lễ Sinh',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2017/05/logo-tntt-phu-hoa-359x352.jpg',
        title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2021/01/Banner-1-Le-Thanh-Phaolo-Tong-do-Tro-Lai-1-570x321.jpg',
        title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/12/BM-KG4-5-570x321.jpeg',
        title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
      {
        img: 'http://localhost/gxphuhoa/wp-content/uploads/2020/12/BM-KG6-2-570x321.jpeg',
        title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
        date: '17:24 09/05/2021',
        link: '#',
        isImgLeft: true,
      },
    ])