.imgSidebar.text-center.d-none.d-lg-block.mb-bottom-20
  +img('https://gxphuhoa.org/wp-content/themes/maintheme/images/cha-so.jpg', 'Hình cha sở giáo xứ Phú Hoà')
.boxSidebar
  .title.fa-bullhorn Thông báo
  .content
    .listNote
      +newsList([
        {
          title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
        {
          title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
        {
          title: 'THÔNG BÁO: Lãnh nhận Bí Tích xưng tội lần đầu- Rước Lễ lần đầu',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
        {
          title: 'Thông báo: Thánh lễ Kính Thánh Phanxicô Xavie bổn mạng Giáo khu 6',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
        {
          title: 'Thông báo: Thánh lễ Kính Thánh Phaolo trở lại bổn mạng Giáo Khu 5',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
        {
          title: 'Lễ Đức Mẹ Vô Nhiễm Nguyên Tội : Bổn mạng Giáo khu IV',
          date: '17:24 09/05/2021',
          link: '#',
          isImgLeft: true,
        },
      ])
.boxSidebar
  .title.fa-users
    ul(class="nav", role="tablist")
      li
        +link('Giáo khu', '#giaokhu')(role="tab" data-bs-toggle="tab" data-bs-target="#giaokhu" class="active")
          span Giáo khu
      li
        +link('Hội đoàn', '#hoidoan')(role="tab" data-bs-toggle="tab" data-bs-target="#hoidoan")
          span Hội đoàn
  .content
    .tab-content
      .tab-pane.active#giaokhu
        +listGKHD([
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/khu1.png',
            text1: 'Giáo khu I',
            text2: 'Thánh Phêrô',
            link: '#'
          },
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/khu2.png',
            text1: 'Giáo khu II',
            text2: 'Thánh Giuse',
            link: '#'
          },
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/khu3.png',
            text1: 'Giáo khu III',
            text2: 'Thánh Matinô',
            link: '#'
          },
        ])
      .tab-pane#hoidoan
        +listGKHD([
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/ban_giao_ly.png',
            text1: 'Ban giáo lý',
            link: '#'
          },
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/ban_le_sinh.png',
            text1: 'Ban lễ sinh',
            link: '#'
          },
          {
            img: 'https://gxphuhoa.org/wp-content/themes/maintheme/images/cac_ba_me.png',
            text1: 'Các bà mẹ công giáo',
            link: '#'
          },
        ])
.boxSidebar
  .title.fa-bullhorn GIỜ LỄ GIÁO XỨ PHÚ HÒA
  .content
    table.table.table-bordered.table-hover
      thead
        tr
          th(colspan='2') Nội dung
          th Gi&#x1EDD;
      tbody
        tr
          td(colspan='2') Thứ hai
          td 17h30
        tr
          td(colspan='2') Thứ ba
          td 17h30
        tr
          td(colspan='2') Thứ tư
          td 17h30
        tr
          td(colspan='2') Thứ năm
          td 17h30
        tr
          td(colspan='2') Thứ sáu
          td 17h30
        tr
          td(colspan='2') Thứ bảy
          td 17h30
        tr
          td(colspan='2') chúa nhật
          td
        tr
          td
          td Lễ sáng
          td 05h00
        tr
          td
          td Lễ thiếu nhi
          td 07h30
        tr
          td
          td Lễ chiều
          td 17h00
        tr
          td(colspan='2')
            | Chầu thánh thể vào đầu 
            strong thứ sáu đầu tháng
          td 19h00
.boxSidebar
  .title.fa-file-alt tHỦ TỤC HÔN PHỐI
  .content
    strong.d-block.fs-6.text-center HỒ SƠ HÔN PHỐI
    .text-center.mb-3 Chuẩn bị trước khi trình cha sở
    ul.mb-3.listStyle.listStyle--decimal
      li Giấy xác nhận của Trưởng Giáo họ.
      li Giấy giới thiệu của cha xứ bên kia.
      li Chứng chỉ Rửa tội không quá 6 tháng.
      li Chứng chỉ Thêm sức.
      li Chứng chỉ Giáo lý Hôn nhân.
      li Giấy chứng nhận Kết hôn (bản sao).
      li Đại diện cha mẹ hai bên.
    div
      | Cha sở giải quyết tất cả các giấy tờ liên quan đến thủ tục hôn phối, vào lúc 
      strong 19g00 thứ Ba hàng tuần.
