.copyright {
	display: flex;
	align-items: center;
	justify-content: center;

  .be {
    font-size: 13px;
    line-height: 21px;
    margin: 0 10px;

    a {
      color:inherit;
      font-weight: bold;
    }
  }
}