#headTop{
	background-color: var(--main);

  @include mq(991) {
    background-color: var(--dark);
    min-height: 25px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;

    @include mq(991) {
      display: none;
    }
  }
}
