.menuMobile{
  .iconMenu {
    width: 40px;
    height: 40px;
    font-size: 13px;
    line-height: 21px;
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;

    &::before,
    &::after,
    .styleMenu {
      content: '';
      width: 26px;
      height: 2px;
      position: absolute;
      left: 7px;
      background-color: $color-white-1;
    }

    &::before {
      top: 13px;
    }

    &::after {
      top: 27px;
    }

    .styleMenu {
      top: 20px;
    }
  }

  .divmm {
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 50;

    &.show {
      visibility: visible;

      .mmContent {
        transform: translate(0%, 0%);
        pointer-events: auto;
      }

      .divmmbg {
        opacity: 1;
        visibility: visible;
      }

      .close-mmenu {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }

  .mmContent {
    width: 100%;
    height: 100%;
    max-width: 325px;
    margin: 0 0 0 auto;
    background-color: $color-white-1;
    position: relative;
    top: 0;
    right: 0;
    z-index: 50;
    transform: translate(100%, 0%);
    transition: all 0.5s ease;
    pointer-events: none;
  }

  .divmmbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-shadow-black-1;
    z-index: 49;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
  }

  .close-mmenu {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 28px;
    color: $color-black-2;
    text-align: Center;
    background: $color-white-1;
    background-size: 30px 30px;
    position: absolute;
    top: 0;
    right: 100%;
    transform: translateY(100%);
    cursor: pointer;
    transition: all 0.8s ease;
    opacity: 0;
    pointer-events: auto;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .mmMenu {
    overflow-y: auto;

    li {
      overflow: hidden;
      position: relative;

      &:hover {
        > a {
          color: $color-white-1;
          background-color: var(--main);
        }

        > .sub {
          color: $color-white-1;
        }
      }

      &.active {
        .sub {
          &::before {
            content: "\f107";
          }
        }
      }
    }

    a {
      display: block;
      font-weight: 600;
      padding: 14px 15px;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      color: $color-black-2;
      border-bottom: solid 1px rgba(0,0,0,0.2);
    }
    
    ul ul {
      display: none;
      background-color: $color-gray-3;
      
      li {
        &:last-child {
          a {
            border-bottom: none;
          }
        }

        &:hover {
          a {
            color: var(--main);
            background-color: $color-gray-3;
          }
        }
      }

      a {
        padding-left: 30px;
        text-transform: none;
        font-weight: normal;
        border-bottom-color: $color-gray-1;
      }
    }

    .sub {
      width: 50px;
      height: 50px;
      border-left: solid 1px rgba(0,0,0,0.2);
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      &::before {
        content: "\f105";
        @extend %font-icon;
        @extend %pcc;
      }
    }
  }
}
