.news {
  margin-bottom: 10px;
  position: relative;

  .img {
    margin-bottom: 10px;
    position: relative;

    a {
      display: block;
      padding-top: 66.666666%;
      position: relative;
      overflow: hidden;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .cat {
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: $color-gray-2;
  }

  .tend {
    a {
      display: block;
      font-size: 14px;
      line-height: 22px;
      color: $color-black-1;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .date {
    display: inline-block;
    padding-left: 15px;
    font-size: 11px;
    line-height: 18px;
    color: $color-gray-2;
    position: relative;

    &::before{
      content: "\f017";
      @extend %font-icon;
      position: absolute;
      left:0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .des{
    font-size: 13px;
    line-height: 21px;
    color: $color-gray-2;
  }

  &.v2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    .img {
      width: 80px;
      margin-right: 10px;
      flex-shrink: 0;

      @include mq(768) {
        width: 160px;
      }

      @include mq(480) {
        width: 100px;
      }
    }

    .tend {
      a {
        display: block;
        max-height: 36px;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        text-transform: uppercase;
        overflow: hidden;
      }
    }

    .date {
      margin-bottom: 0;
    }
  }
} 
