.newsFocusHome {
  margin-bottom: 20px;

  .news {
    &:first-child {
      .cat {
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px 10px;
        background: $color-main;
        color: $color-white-1;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}