.news {
  margin-bottom: 10px;
  position: relative;

  .img {
    margin-bottom: 10px;
    position: relative;

    a {
      display: block;
      padding-top: 66.666666%;
      position: relative;
      overflow: hidden;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .cat {
    display: inline-block;
    font-size: 11px;
    line-height: 17px;
    color: $color-gray-2;
  }

  .tend {
    margin-bottom: 5px;

    a {
      display: block;
      font-size: 14px;
      line-height: 20px;
      color: $color-black-1;
      font-weight: 600;
    }
  }

  .date {
    display: inline-block;
    padding-left: 15px;
    font-size: 11px;
    line-height: 17px;
    color: $color-gray-2;
    position: relative;

    &::before{
      content: "\f017";
      @extend %font-icon;
      position: absolute;
      left:0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .des {
    font-size: 13px;
    line-height: 19px;
    color: $color-gray-2;
  }

  &.v2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    .img {
      width: 80px;
      margin-right: 15px;
      flex-shrink: 0;

      @include mq(768) {
        width: 160px;
      }

      @include mq(480) {
        width: 100px;
      }
    }

    .tend {
      a {
        display: block;
        max-height: 36px;
        font-size: 13px;
        line-height: 18px;
        font-weight: normal;
        overflow: hidden;
      }
    }

    .date {
      margin-bottom: 0;
    }
  }

  .audioHome & {
    .date {
      color: $color-white-1;
    }
  }

  .listNote & {
    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: solid 1px $color-gray-1;
    }

    .tend {
      a {
        font-weight: 600;
      }
    }
  }

  .newsCategory & {
    .img {
      margin-bottom: 5px;

      a {
        padding-top: 62.6667%;
      }
    }

    .tend {
      a {
        font-size: 13px;
        line-height: 21px;
        font-weight: normal;
      }
    }
  }

  .listNewsCategory & {
    .img {
      width: 33.3333%;
    }

    .tend {
      a {
        font-size: 16px;
        line-height: 24px;
        max-height: 48px;

        @include mq(767) {
          font-size: 14px;
          line-height: 22px;
          max-height: 44px;
        }
      }
    }

    .des {
      @include mq(767) {
        max-height: 42px;
        overflow: hidden;
      }
    }
  }

  .the-audio-other & {
    .tend {
      a {
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
      }
    }
  }
} 
