.socialFoot {
  li {
    margin-bottom: 5px;
  }

  a {
    display: flex;
    align-items: center;
    color:$color-white-1;
    font-size: 13px;
    line-height: 21px;
  }

  i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    font-size: 15px;
    line-height: 23px;
    position: relative;

    &:before{
      position: absolute;
      @extend %pcc;
    }
  }
}
