mixin dsShare()
  .ds_share
    ul
      li
        .item-share
          +link('Share Facebook', '#')
          .icon(style={'background-color':'#3b5998'})
            i.fab.fa-facebook
          .tend
            .t1 Chia sẻ
            .t2 Facebook
      li
        .item-share
          +link('Share Google', '#')
          .icon(style={'background-color':'#dc4e41'})
            i.fab.fa-google
          .tend
            .t1 Chia sẻ
            .t2 Google
      li
        .item-share
          +link('Share Twitter', '#')
          .icon(style={'background-color':'#1da1f2'})
            i.fab.fa-facebook
          .tend
            .t1 Chia sẻ
            .t2 Twitter
      li
        .item-share
          +link('Share facebook', '#')
          .icon(style={'background-color':'#cb2027'})
            i.fab.fa-pinterest
          .tend
            .t1 Chia sẻ
            .t2 Pinterest