mixin list (items) 
  ul
    each item in items
      li
        if item.href
          +link(item.title, item.href)(class=[item.cls && item.cls])
            span!=item.title
        else
          span(class=[item.cls && item.cls])!=item.title
        if item.sub 
          +list(item.sub)