mixin slidevideoHome(data)
  .swiper
    .swiper-wrapper
      each item in data
        .swiper-slide
          .slideVideoHome-item-video(class=[item.live && '--live'] data-id!=item.id)
            .slideVideoHome-thumbnail
              +img(item.image, item.title)
              .slideVideoHome-duration!=item.duration
            .slideVideoHome-title!=item.title