h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

p {
  margin: 0;
  padding-bottom: 5px;
}

a {
  color: $color-black-2;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    transition: all .3s linear;
  }

  &:hover {
    color: $color-main;
  }
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

#gx-container {
  max-width: $max-width;
  margin: 0 auto;
  background: $color-gray-1;
  overflow: hidden;
}

#gx-content {
  @include mq(991) {
    padding: 0 10px;
  }
}

.wrapper {
  max-width: $max-wrapper;
  padding: 10px;
  margin: 0 auto;
  background: $color-white-1;

  @include mq(991) {
    padding: 0;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;

  & > *[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.the-content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.mb {
  &-bottom {
    &-10 {
      margin-bottom: 10px;
    }

    &-20 {
      margin-bottom: 20px;
    }

    &-30 {
      margin-bottom: 30px;
    }
  }
}