$color-white-1: #ffffff;

$color-gray-1: #e5e5e5;
$color-gray-2: #888888;
$color-gray-3: #eeeeee;

$color-black-1: #000000;
$color-black-2: #333333;
$color-black-3: #121212;

$color-shadow-black: rgba(0,0,0,0.4);
$color-shadow-black-1: rgba(0,0,0,0.8);
